[user]
  name = Calvin Gerling
  email = calvin.gerling@singlebit.org
  signingkey = D5A5839EA972F020
[core]
  editor = nvim
  pager = diff-so-fancy | less --tabs=2 -RFX
[alias]
  p = push
  co = checkout
  cs = "!f() { \
        TASK_ID=$(cut -d'/' -f1 <<< $(git rev-parse --abbrev-ref HEAD)); \
        EDITOR=vim; \
        COMMIT_MESSAGE="[${TASK_ID}]"; \
        git commit -e -m "\"${COMMIT_MESSAGE}\""; \
    }; f"
  dc = diff --cached
  pf = push --force-with-lease
  pb = "!f() { git push -u origin $(git rev-parse --abbrev-ref HEAD); }; f"
[color]
  ui = true
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color "diff"]
  meta = 11
  frag = magenta bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse
[commit]
  gpgsign = true
[pull]
	rebase = true
